{%extends 'base.html'%}
   {%block content%}
   <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Welcome to <span class="text-purple-400">Wendy's Closet</span>  Gallery collections</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Here are some of our completed designs. take a look and feel free to ask any question through our contact form.</p>
      </div>
      <div class="flex flex-wrap m-4">
        {%for photo in photos%}
        <div class="lg:w-1/4 sm:w-full p-4 w-full">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full sm:h-72  sm:mt-6 h-full object-cover object-center" src="{{photo.image.url}}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{photo.name}}</h1>
              <p class="leading-relaxed">{{photo.summery}}</p>
            </div>
          </div>
        </div>
        {%endfor%}
        
      </div>
    </div>
  </section>
  {%endblock%}
